### Introduction to Python for Data Science & Analysis

#### This notebook will cover the basics need to get start with Python

---
From this Notebook you should be able to to: 
- Setup
    - Install Annaconda (a Python software package)
    - Github & Jupyter Notebook
    - Discover how to be self taught
- Programming
    - Script Design
    - Using Functions
    - Import a txt file
    - Basic Plotting
    
    
##### Author: Maurice Roots (05/08/2022)

### Setup
---

First you need to dowload the required software. 
Python is not softawre. It is a language that can be installed on your computer. However, we will install Annaconda so that you will have access to usefull software that works with Python. What we need from Annaconda is scripting environment (Spyder), a terminal to install packages (I'll explain that later), and a way to combine writing & code (jupyter notebook). Yes, this is a jupyter notebook. See how nicely I have combined code and writing?

#### 1) Annaconda
To download Annaconda use this link: 
    - Follow the installation too to completion.

#### 2) Github
Github is a software/company that allows you to easliy share code. Yes this notebook is hosted on my github. 

First go to github.com create an account. 
Then download the github desktop client from here

### Programming
---
Python is a pretty cool programming language. It has a large list a capabilities, but its main draw is that Python is open-source. This means that its maintenance, packages, functionality, and progression are dictated by crowd sourcing. Anyone can write a Python package! Shoot, you found this tutorial nested in a package that I am writing.

The syntax of Python is similar to other languages like MATLAB and C++ with differences being that python does not require a " ; " at the end of lines, loops n' such do not require a end statement, **commments** are written with "#", and variables do not need to be pre-allocatd or declared before assignment.

In [21]:
# Python Arithematic 
a = 2
b = 3

print(a + b) # Addition
print(a - b) # Subtractions
print(a*b)   # Multiplication
print(a / b) # Division
print(a**b)  # Exponetials

# Check the ouput with a calculate (or google) to make sure these are correct

5
-1
6
0.6666666666666666
8

In [22]:
# Python Indexing 

c = [1, 2, 3, 4, 5] # List

print(c[1])         # Second element of list
print(c[0])         # First element of list
print(c[-1])        # Last Element of list
print(c[5])

# Check these for yourself

2
1
5

IndexError: list index out of range

In [23]:
# USeful Built in Functions 
print(round(a / b, 3)) # Round a number, round(number, decimal-place)
print(range(2, 10, 2)) # Returns a range of even spaced numbers, range(start, stop, spacing)
print(len(c))          # Returns the length of input


# Check these for yourself to make sure they are correct and make sense

0.667
range(2, 10, 2)
5

#### 3) Functions !!!!

In [41]:
def simple_average(some_list):
    length = len(some_list)
    summation = 0
    for i in range(length): 
        summation += some_list[i]
    average = summation / length
    return average
    
simple_average(c)

3.0

In [35]:
import numpy as np
np.mean(c)

3.0

In [2]:
import pandas as pd
test = pd.DataFrame()

#### 4)  Importing Data

In [5]:
data = pd.read_csv(r"C:\Users\Magnolia\OneDrive - UMBC\Research\Analysis\DATAS\datas\tutorials\data\ste22001.dat", sep="\s+", skiprows=2, header=None)

In [6]:
data.head()

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,2022,1,1,1,0,0,0.000,112.91,-1.2,0,...,0.4,0,0.0,0,42.8,0,0.0,0.0,0.0,0.0
1,2022,1,1,1,0,1,0.017,113.10,-1.2,0,...,0.4,0,0.0,0,42.8,0,0.0,0.0,0.0,0.0
2,2022,1,1,1,0,2,0.033,113.29,-1.2,0,...,0.4,0,0.0,0,42.8,0,0.0,0.0,0.0,0.0
3,2022,1,1,1,0,3,0.050,113.48,-1.2,0,...,0.4,0,0.0,0,42.8,0,0.0,0.0,0.0,0.0
4,2022,1,1,1,0,4,0.067,113.67,-1.2,0,...,0.4,0,0.0,0,42.8,0,0.0,0.0,0.0,0.0

In [14]:
# Soiurced: https://gml.noaa.gov/aftp/data/radiation/solrad/README_SOLRAD.txt

# year		integer	year, i.e., 2002
# jday		integer	Julian day (1 through 365 [or 366])
# month		integer	number of the month (1-12)
# day		integer	day of the month(1-31)
# hour		integer	hour of the day (0-23)
# min		integer	minute of the hour (0-59)
# dt		real	decimal time (hour.decimalminutes),e. g., 23.5 = 2330
# zen		real	solar zenith angle (degrees)
# dw_psp		real	downwelling global solar (Watts m^-2)
# direct		real	direct solar (Watts m^-2)
# diffuse		real	downwelling diffuse solar (Watts m^-2)
# uvb		real	global UVB (milliWatts m^-2)
# uvb_temp    	real	UVB temperature (C) -- 25 deg. C is normal
# qc_dwpsp	integer quality control parameter for downwelling global solar (0=good)
# qc_direct	integer quality control parameter for direct solar (0=good)
# qc_diffuse	integer quality control parameter for diffuse solar (0=good)
# qc_uvb		integer quality control parameter for UVB irradiance (0=good)
# qc_uvb_temp	integer quality control parameter for the UVB instrument temperature (0=good)
# std_dw_psp	real	standard deviation of the 1-sec. samples for global solar (dw_psp)
# std_direct	real	standard deviation of the 1-sec. samples for direct solar
# std_diffuse	real	standard deviation of the 1-sec. samples for diffuse solar
# std_uvb		real	standard deviation of the 1-sec. samples for uvb

data.columns = ["year", "jday", "month", "day", "hour", "min", "dt", "zen", "dw_psp", "direct", "diffuse", "uvb", "uvb_temp", "qc_dwpsp", "qc_direct", "qc_diffuse", "qc_uvb", "qc_uvb_temp", "std_dw_psp", "std_direct", "std_diffuse", "std_uvb"]
data.head()

,year,jday,month,day,hour,min,dt,zen,dw_psp,direct,...,uvb_temp,qc_dwpsp,qc_direct,qc_diffuse,qc_uvb,qc_uvb_temp,std_dw_psp,std_direct,std_diffuse,std_uvb
0,2022,1,1,1,0,0,0.000,112.91,-1.2,0,...,0.4,0,0.0,0,42.8,0,0.0,0.0,0.0,0.0
1,2022,1,1,1,0,1,0.017,113.10,-1.2,0,...,0.4,0,0.0,0,42.8,0,0.0,0.0,0.0,0.0
2,2022,1,1,1,0,2,0.033,113.29,-1.2,0,...,0.4,0,0.0,0,42.8,0,0.0,0.0,0.0,0.0
3,2022,1,1,1,0,3,0.050,113.48,-1.2,0,...,0.4,0,0.0,0,42.8,0,0.0,0.0,0.0,0.0
4,2022,1,1,1,0,4,0.067,113.67,-1.2,0,...,0.4,0,0.0,0,42.8,0,0.0,0.0,0.0,0.0

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1440 entries, 0 to 1439
Data columns (total 22 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   year         1440 non-null   int64
 1   jday         1440 non-null   int64
 2   month        1440 non-null   int64
 3   day          1440 non-null   int64
 4   hour         1440 non-null   int64
 5   min          1440 non-null   int64
 6   dt           1440 non-null   float64
 7   zen          1440 non-null   float64
 8   dw_psp       1440 non-null   float64
 9   direct       1440 non-null   int64
 10  diffuse      1440 non-null   float64
 11  uvb          1440 non-null   int64
 12  uvb_temp     1440 non-null   float64
 13  qc_dwpsp     1440 non-null   int64
 14  qc_direct    1440 non-null   float64
 15  qc_diffuse   1440 non-null   int64
 16  qc_uvb       1440 non-null   float64
 17  qc_uvb_temp  1440 non-null   int64
 18  std_dw_psp   1440 non-null   float64
 19  std_direct   1440 non-null   float64
 20  std_diffuse  1440 non-null   float64
 21  std_uvb      1440 non-null   float64
dtypes: float64(11), int64(11)
memory usage: 247.6 KB

In [16]:
data["timestamp"] = data["year"], month=data["month"], day=data["day"], hour=data["hour"], minute=data["min"])

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

#### 5) Basic Plotting

In [ ]:
import matplotlib.pyplot as plt


fig, ax = plt.subplots(figsize=(10,10))
ax.plot()